button{
    padding: 5px;
    margin: 5px;
    background-color: blueviolet;
    text-align: center;
    border-style: double;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}