<div [ngStyle]="{'text-align':'center'}">
  <h2>{{title}}</h2>

  <h3>1.Uppercase Pipe</h3>
  <p>{{fullName | uppercase}}</p><br>

  <h3>2.Lowercase Pipe</h3>  
  <p>{{fullName | lowercase}}</p><br>

  <h3>3.Currency Pipe</h3>  
  <p>{{256.66 | currency:"USD"}}</p> 
  <p>{{256.66 | currency:"INR" }}</p><br>

  <h3>4.Date pipe</h3>  
  <p>{{todayDate}}</p> <!-- Mon Sep 18 2023 23:04:28 GMT+0530 (India Standard Time)  -->
  <p>{{todayDate | date }}</p> <!-- Sep 18, 2023  -->
  <p>{{todayDate | date:'d/M/y' }}</p> <!-- 18/9/2023 -->
  <p>{{todayDate | date:'shortDate' }}</p> <!-- 9/18/23  -->
  <p>{{todayDate | date:'fullDate' }}</p> <!-- Monday, September 18, 2023  -->
  <p>{{todayDate | date:'h:mm' }}</p> <br><!-- 11:05  -->

  <h3>5.Decimal Pipe</h3> 
  <p>{{ 454.78787814 | number: '3.4-6' }}</p> <br>

  <h3>6.Json Pipe</h3>  
  <p>{{sampleJsonData | json}}</p><br>

  <h3>7.Percent Pipe</h3>  
  <p>{{00.54565 | percent }}</p><br>

  <h3>8.Slice Pipe</h3> 
  <p>{{days | slice:2:4 }}</p><br> <!-- Wednesday,Thursday , it's printing based on index position in Array  -->

  <h3>9.Custom Pipes</h3>
  <p>{{625 | squareroot }}</p> <!-- 25 -->
  <p>{{625 | digitscount }}</p> <!-- 3 digts -->
</div>
