li{
    color: white;
    padding: 5px;
    margin: 5px;
    border: 2px solid;
    border-color: black;
    background-color: rgb(167, 70, 141);
    text-decoration: none;
    width: fit-content;
    text-align: center;

}

.selected{
    width: fit-content;
    text-align: center;
    background-color: aqua;
    padding: 2px;
    margin-left: 35px;


}