<h3>Employees Management</h3>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/home" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="userService.matchRole(['admin'])" class="nav-link" routerLink="/admin"
                        routerLinkActive="active">ADMIN DASHBOARD</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="userService.matchRole(['user'])" class="nav-link" routerLink="/user"
                        routerLinkActive="active">USER DASHBOARD</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="custom-bootstrap row mb-3">
    <button class="btn btn-info col-md-1" routerLink="/search" routerLinkActive="active" type="button">SEARCH</button>

    <button class="btn btn-primary col-md-1" routerLink="/create" routerLinkActive="active"
        type="button">CREATE</button>

    <button *ngIf="!isLoggedIn" class="btn btn-primary col-md-1" routerLink="/login" routerLinkActive="active"
        type="button">LogIn</button>
    <button *ngIf="isLoggedIn" class="btn btn-danger col-md-1" routerLinkActive="active" type="button"
        (click)="logOut()">LogOut</button>
</div>




<table class="table table-sm table-bordered table-hover table-striped ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">EmployeeId</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Active Account</th>
            <th scope="col">Phone</th>
            <th scope="col">Salary</th>
            <th scope="col">DOJ</th>
            <th scope="col">Actions</th>
            <th scope="col">Downloads</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeesListPageData?.content">
            <th scope="row">{{employee.empId}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.activeAccount === true ? 'Active' : 'InActive'}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.dateOfJoining}}</td>
            <td>
                <button class="btn btn-success" routerLink="show/{{employee.id}}" type="button">VIEW</button>
                <button class="btn btn-success" routerLink="update/{{employee.id}}" type="button">UPDATE</button>
                <button class="btn btn-danger" (click)="deleteEmployeeById(employee.id)" type="button">DELETE</button>
            </td>
            <td >
                <button (click)="downloadEmployeeDetailAsJSONFile(employee.id)">JSON File</button>
                <button (click)="downloadEmployeeDetailAsXMLFile(employee.id)">XML File</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="paging">
    <button class="previous" type="button" [disabled]="currentPage === 1" (click)="previousPage()">Previouse</button>
    {{currentPage}}/{{totalPages}}
    <button class="next" type="button" [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>

</div>