<h3>Employees Management</h3>

<div class="search-emploee">

</div>

<div class="custom-bootstrap row mb-3">
    <button class="btn btn-info col-md-1" routerLink="/search" routerLinkActive="active" type="button">SEARCH</button>

    <button class="btn btn-primary col-md-1" routerLink="/create" routerLinkActive="active"
        type="button">CREATE</button>

    <!-- Show this button if loggedIn is false -->
    <button type="button" class="btn btn-warning col-md-1" [hidden]="loggedIn" routerLink="/login">Log In</button>

    <!-- Show this button if loggedIn is true -->
    <button type="button" class="btn btn-warning col-md-1" [hidden]="!loggedIn" (click)="logout()">Log Out</button>


</div>

<table class="table table-bordered table-hover table-striped ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">EmployeeId</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Active Account</th>
            <th scope="col">Phone</th>
            <th scope="col">Salary</th>
            <th scope="col">DOJ</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeesListPageData?.content">
            <th scope="row">{{employee.empId}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.activeAccount === true ? 'Active' : 'InActive'}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.dateOfJoining}}</td>
            <button class="btn btn-success" routerLink="show/{{employee.id}}" type="button">VIEW</button>
            <button class="btn btn-success" routerLink="update/{{employee.id}}" type="button">UPDATE</button>
            <button class="btn btn-danger" (click)="deleteEmployeeById(employee.id)" type="button">DELETE</button>
        </tr>
    </tbody>
</table>

<div class="paging">
    <button class="previous" type="button" [disabled]="currentPage === 1" (click)="previousPage()">Previouse</button>
    {{currentPage}}/{{totalPages}}
    <button class="next" type="button" [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>

</div>