<table class="table table-bordered ">
    <thead class="thead-dark">
        <th scope="col">Emp Id</th>
        <th scope="col">Full Name  </th>
        <th scope="col">Email </th>
        <th scope="col">Phone</th>
        <th scope="col">Salary</th>
        <th scope="col">DOJ</th>
    </thead>
    <tbody >
        <th scope="row">{{employeeDetails.empId}}</th>
        <th scope="row">{{employeeDetails.name}}</th>
        <th>{{employeeDetails.email}}</th>
        <th>{{employeeDetails.phone}}</th>
        <th>{{employeeDetails.salary}}</th>
        <th>{{employeeDetails.dateOfJoining}}</th>
    </tbody>
</table>