input[type=text] {
    width:300px;
  }
  input[type=email] {
    width:300px;
  }

  input[type=password] {
    width:300px;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

label{
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 0.5em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;}
 
  input{
    margin: 20px;
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0.5px solid lightgray;

  }

  .btn-primary{
    width: fit-content;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
  }

  .btn-secondary{
    margin: 20px;
  }

  .addStyles{
    margin-left: 260px;
    padding-left: 20px;
    margin-right: 10px;
  }

  .addMails{
    border: none;
    background-color: transparent;
    font-size: 250%;
    font-weight: bold;
    color: grey;
    margin-left: -50px;
    margin-bottom: 10px;
    
  }

  .hide{
    display: none;
  }
  .addMails:hover + .hide{
    display: block;
    color: gray;
    font-weight: 500;    
  }

  #changeStyle{
    margin-top: -10px;
    margin-left: 260px;
    padding-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }




