<!-- navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" routerLink="/expenses" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/expenses" routerLinkActive="activating">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/expenses/add" routerLinkActive="activating">Add Expense</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/about" routerLinkActive="activating">About</a>
                </li>
                <li class="nav-item">
                    <div *ngIf="isUserLoggedIn; else isLogOut">
                        <a class="nav-link" href="#" routerLink="/logout" routerLinkActive="activating">Logout</a>
                    </div>
                    <ng-template #isLogOut>
                        <a class="nav-link" href="#" routerLink="/login" routerLinkActive="activating">Login</a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>